html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.canvas {
  width: 70vh;
  height: 70vh;
  display: block;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.controls-left {
  padding: 5px;
  border: 5px solid #fafd7cff;
  border-radius: 10px;
  width: 20%;
  height: 75vh;
}

.controls-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px solid #b7e4f9ff;
  border-radius: 10px;
  width: 20%;
  height: 75vh;
}

.main-container {
  justify-content: center;
  margin: auto;
  padding: 20px;
  height: 78vh;
  width: 90%;
  display: flex;
  flex-direction: row;
}

button {
  display: block;
  padding: 15px;
  margin: 10px;
  width: 90%;
  background-color: #b7e4f9ff;
  border-radius: 20px;
  border: none;
  text-align: center;
  color: #838383;
  border: 3px solid #b7e4f9ff;
}

button:hover {
  background-color: white;
}

.message {
  font-size: 20px;
  text-align: center;
}

.scores {
  overflow-y: scroll;
  overflow: scroll;
}
